/*struture du css = top to bottom
background first
then body + id specifique à chaque page?*/
body{
    background-image:url("img/dark-grunge-texture.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    color: blanchedalmond;
}




.welcome {
    font-size: 5rem;
}
.citation {
    font-size: 2rem;
}
.divwelcome {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: "Caveat", serif;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    
}

#background-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 50%;
    object-fit: cover;
    /* Pour que la vidéo couvre toute la bannière */
    z-index: -1;
    /* La vidéo reste derrière le contenu */
}

nav.navbar {
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.navbar-toggle {
    border: solid 3px red;
}
/*/.card:hover{
     faire transition on hover= on hover: img qui zoom et text qui se réduit ne laissant que le bouton pour accéder à la catégorie*/
.divcard {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.card{
    max-width: 400px;
}
.card-img-top {
    width: auto;
    height: fit-content;
    max-height: 300px;
    
}
.card-img-top:hover{
    transform: scale(1.2);
}

.carousel-item {
    width: 50%;
    height:50%;
    margin-right: 20%;
    margin-left: 20%;
   
}
.d-block{
    border-radius: 5%;
    width: 500px;
    height: 500px;
}

.image-test{
    border: solid 2px white;
    border-radius: 5%;
    
    
}
.image-test:hover{
    
    transform: scale(1.1);
    border: none;
    transition-duration: 2s;
    cursor: pointer;
}

.logo:hover{
    cursor: default;
}